.giphy {
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
}

.searched {
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    margin: 15px;
}

.images {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.gifbox {
    display: flex;
    flex-direction: column;
    margin: auto;

    height: 37vh;
    width: 25vw;
    min-width: 400px;
    min-height: 300px;
}

.gif {
    height: 30vh;
    width: 25vw;
    min-width: 400px;
    min-height: 200px;
}

.gif:hover {
    cursor: pointer;
}

.gif--cred {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto 10px auto;
    justify-content: space-between;
}

.gif--id {
    margin-top: 10px;
    color: grey;
    font-size: 12px;
}

.saveit {
    color: white;
    background-color: green;
    border: green 1px solid;
    width: 100px !important;
    height: 40px !important;
}

.savedit {
    background-color: orange !important;
    border: orange 1px solid !important;
}

.beforesearch {
    color: grey;
    font-size: 38px;
    font-family: cursive;
    margin: auto;
}