.home {
    width: 100vw;
    height: auto;
    margin: auto;
    text-align: center;
}

.homebox {
    display: flex;
    flex-direction: column;
    
    border: var(--gray) 5px solid;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: inset 0 0 10px var(--gray);
    color: var(--black);
    
    margin: auto;
    padding: 30px;
    width: 60vw;
}

.home--quote {
    font-size: 18px;
}

.home--cred {
    color: var(--gray);
    font-size: 12px;
}