.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    margin: auto;
    
    font-family: cursive;
}

.login--title {
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 30px;
}

.form--group {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    height: 10vh;
}

.btn:hover {
    
}

.btn:active {
    
}