.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    margin: auto;
    
    font-family: cursive;
}

.login--title {
    font-weight: bold;
    font-size: 25px;
    font-family: cursive;
    margin-bottom: 30px;
}

.form--group {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    height: 10vh;
}

.signup-btn {
    -webkit-appearance: none;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1;
    border-radius: 4px;
    color: var(--white);
}

.signup-btn:hover, .signup-btn:active, .signup-btn:focus {
    color: var(--green-highlight);
}

.login-container {
    border-radius: 2rem;
    background-color: var(--glass);
    padding: 3rem;
}