.App {
  display: flex;
  
  text-align: center;
  width: auto;
  height: 80vh;
  
  background-color: black;
  color: white;

  z-index: 50;
}

.snowfall {
  z-index: 60;
}

.invisNav {
  height: 20vh;
}

.village {
  position: absolute;
  background-image: url(./svg/holiday-village.png);
  height: 350px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}