.App {
  display: flex;
  
  text-align: center;
  width: auto;
  height: 80vh;
  
  background-color: black;
  color: white;

  z-index: 50;
}

.snowfall {
  z-index: 60;
}

.invisFooter {
  height: 20vh;
}